*.class
damp.ekeko.snippets.plugin.test/resources/Ekeko-JDT/.project
bin/
damp.ekeko.snippets.plugin.test/resources/EkekoX-Specifications/dbg/

damp.ekeko.snippets.plugin.test/.settings/ccw.repl.cmdhistory.prefs
chaq_demo/
