<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="damp.ekeko.snippets.views"
            name="Ekeko/X">
      </category>
      <view
            category="damp.ekeko.snippets.views"
            class="damp.ekeko.snippets.gui.ResultCheckView"
            id="damp.ekeko.snippets.gui.ResultCheckView"
            name="Ekeko/X Subject Inspector View">
      </view>
      <view
            category="damp.ekeko.snippets.views"
            class="damp.ekeko.snippets.gui.TransformsView"
            id="damp.ekeko.snippets.gui.TransformsView"
            name="Ekeko/X Transformation">
      </view>
      <view
            allowMultiple="false"
            category="damp.ekeko.snippets.views"
            class="damp.ekeko.snippets.gui.OperatorOperandsView"
            icon="icons/property.png"
            id="damp.ekeko.snippets.gui.OperatorOperandsView"
            name="Ekeko/X Template Operator View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="damp.ekeko.snippets.commands"
            name="Ekeko/X Commands">
      </category>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.template"
            name="Template Editor">
      </command>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.transformation"
            name="Transformation Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="damp.ekeko.snippets.gui.TemplateEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.template">
      </handler>
      <handler
            class="damp.ekeko.snippets.gui.TransformationEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.transformation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:damp.ekeko.menus.ekekoMenu?after=additions">
         <menu
               id="damp.ekeko.snippets.menu"
               label="Ekeko/X">
            <command
                  commandId="damp.ekeko.snippets.commands.template"
                  icon="icons/notebooks.png"
                  label="Template Editor">
            </command>
            <command
                  commandId="damp.ekeko.snippets.commands.transformation"
                  icon="icons/cog.png"
                  label="Transformation Editor">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="damp.ekeko.snippets.gui.OperatorOperandsView"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="damp.ekeko.snippets.gui.TemplateEditor"
            contributorClass="damp.ekeko.snippets.gui.TemplateEditorActionBarContributor"
            extensions="ekxt"
            icon="icons/notebooks.png"
            id="damp.ekeko.snippets.gui.TemplateEditor"
            name="Template Editor">
      </editor>
      <editor
            class="damp.ekeko.snippets.gui.TransformationEditor"
            extensions="ekx"
            icon="icons/cog.png"
            id="damp.ekeko.snippets.gui.TransformationEditor"
            name="Transformation Editor">
      </editor>
   </extension>
</plugin>
