<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="damp.ekeko.snippets.views"
            name="Ekeko/X">
      </category>
      <view
            allowMultiple="false"
            category="damp.ekeko.snippets.views"
            class="damp.ekeko.snippets.gui.OperatorOperandsView"
            icon="icons/property.png"
            id="damp.ekeko.snippets.gui.OperatorOperandsView"
            name="Ekeko/X Template Operator View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="damp.ekeko.snippets.commands"
            name="Ekeko/X Commands">
      </category>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.template"
            name="Template Editor">
      </command>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.transformation"
            name="Transformation Editor">
      </command>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.intended"
            name="Intended Results Editor">
      </command>
      <command
            category="damp.ekeko.snippets.commands"
            id="damp.ekeko.snippets.commands.recommender"
            name="Recommendation Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="damp.ekeko.snippets.gui.TemplateEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.template">
      </handler>
      <handler
            class="damp.ekeko.snippets.gui.TransformationEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.transformation">
      </handler>
      <handler
            class="damp.ekeko.snippets.gui.IntendedResultsEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.intended">
      </handler>
      <handler
            class="damp.ekeko.snippets.gui.RecommendationEditorCommandHandler"
            commandId="damp.ekeko.snippets.commands.recommender">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:damp.ekeko.menus.ekekoMenu?after=additions">
         <menu
               id="damp.ekeko.snippets.menu"
               label="Ekeko/X">
            <command
                  commandId="damp.ekeko.snippets.commands.template"
                  icon="icons/notebooks.png"
                  label="Template Editor">
            </command>
            <command
                  commandId="damp.ekeko.snippets.commands.transformation"
                  icon="icons/cog.png"
                  label="Transformation Editor">
            </command>
            <command
                  commandId="damp.ekeko.snippets.commands.intended"
                  icon="icons/spectacle.png"
                  label="Intended Results Editor">
            </command>
            <command
                  commandId="damp.ekeko.snippets.commands.recommender"
                  icon="icons/dna.png"
                  label="Template Recommendation Editor">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="damp.ekeko.snippets.gui.OperatorOperandsView"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="damp.ekeko.snippets.gui.TemplateEditor"
            contributorClass="damp.ekeko.snippets.gui.TemplateEditorActionBarContributor"
            extensions="ekt"
            icon="icons/notebooks.png"
            id="damp.ekeko.snippets.gui.TemplateEditor"
            name="Template Editor">
      </editor>
      <editor
            class="damp.ekeko.snippets.gui.TransformationEditor"
            contributorClass="damp.ekeko.snippets.gui.TransformationEditorActionBarContributor"
            extensions="ekx"
            icon="icons/cog.png"
            id="damp.ekeko.snippets.gui.TransformationEditor"
            name="Transformation Editor">
      </editor>
      <editor
            class="damp.ekeko.snippets.gui.IntendedResultsEditor"
            extensions="eir"
            icon="icons/spectacle.png"
            id="damp.ekeko.snippets.gui.IntendedResultsEditor"
            name="Intended Results Editor">
      </editor>
      <editor
            class="damp.ekeko.snippets.gui.RecommendationEditor"
            extensions="ekg"
            icon="icons/dna.png"
            id="damp.ekeko.snippets.gui.RecommendationEditor"
            name="Template Recommendation Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="damp.ekeko.snippets.gui.TemplateEditorPersistableElementFactory"
            id="damp.ekeko.snippets.gui.TemplateEditorPersistableElementFactory">
      </factory>
      <factory
            class="damp.ekeko.snippets.gui.TransformationEditorPersistableElementFactory"
            id="damp.ekeko.snippets.gui.TransformationEditorPersistableElementFactory">
      </factory>
      <factory
            class="damp.ekeko.snippets.gui.IntendedResultsEditorPersistableElementFactory"
            id="damp.ekeko.snippets.gui.IntendedResultsEditorPersistableElementFactory">
      </factory>
      
      
      
      
      
      
      
   </extension>
</plugin>
